*{
    margin: 0;
    padding: 0;
}


.nav-logo{
    width: 100px;
    height: auto;
}
.nav-links{
   display: flex;
justify-content: space-between;
list-style: none;
width: 50%;
align-items: center;


}
nav{
    display: flex;
    background-color: rgb(185, 212, 236);
    justify-content: space-around;

}
header{
width: 100vw;
position: fixed;
top: 0px;
}
.main-logo{
    width: 12rem;
   margin-top: 60px;
}
.left-section{
    background-color: blueviolet;
    
}
.right-section{
    background-color: blue;
}
main{
    display: flex;
    justify-content: space-around;

}